/* Reset CSS */
	* {
		margin:0;
		padding:0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	img {
		max-width: 100% !important;
		height: auto;
	}
	ul {
		list-style: none;
	}
/* end reset css */
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.navbar-wrapper {
	background-color:#33C22C;
	width:80%;
	padding:0 20px;
	position: fixed;
	top:0;
	left:0;
	right:0;
}
ul.navbar {
	position: relative;
	text-align: center;
}
ul.navbar li {
	display: inline-block;
	padding:15px 0;
	height:50px;
}
ul.navbar li a{
	text-align: center;
	padding:17px 10px;
	font-size: 14px;
	color:#eee;
	text-decoration: none;
}
ul.navbar li.active a {
	background-color: #44D33D;
}
h1.demo-title {
	color:#fff;
	text-transform: uppercase;
	margin:20px;
}
#popup {
		background-color: rgba(0,0,0,0.8);
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:0;
		-webkit-animation:autopopup 2s;
		-moz-animation:autopopup 2s;
		animation:autopopup 2s;
	}
	#popup:target {
		-webkit-transition:all 1s;
		-moz-transition:all 1s;
		transition:all 1s;
		opacity: 0;
		visibility: hidden;
	}
	/* end link popup*/
	/* animasi popup */

	@-webkit-keyframes autopopup {
		from {opacity: 0;margin-top:-200px;}
		to {opacity: 1;}
	}
	@-moz-keyframes autopopup {
		from {opacity: 0;margin-top:-200px;}
		to {opacity: 1;}
	}
	@keyframes autopopup {
		from {opacity: 0;margin-top:-200px;}
		to {opacity: 1;}
	}
	/* end animasi popup */
	/*style untuk popup */	
	@media (min-width: 768px){
		.popup-container {
			width:400px;
			border: 3px solid orange;
		}
	}
	@media (max-width: 700px){
		.popup-container {
			width:100%;
		}
	}

	.popup-container {
		position: relative;
		margin:7% auto;
		padding:30px 50px;
		background-color: #fafafa;
		color:#333;
		border-radius: 3px;
	}

	a #popup-close {
		position: absolute;
		top:3px;
		right:3px;
		padding:7px 10px;
		font-size: 20px;
		text-decoration: none;
		line-height: 1;
		color:#fff;
	}
	/* end style popup */

	/* style untuk isi popup */
	.popup-form {
		margin:10px auto;
	}
		.popup-form h2 {
			margin-bottom: 5px;
			font-size: 37px;
			text-transform: uppercase;
		}
		.popup-form .input-group {
			margin:10px auto;
		}
			.popup-form .input-group input {
				padding:17px;
				text-align: center;
				margin-bottom: 10px;
				border-radius:3px;
				font-size: 16px; 
				display: block;
				width: 100%;
			}
			.popup-form .input-group input:focus {
				outline-color:#FB8833; 
			}